html{
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: lightblue;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 40px;
  background-color: #000022;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-name {
    margin: 0;
  }
}

.notes-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .note-list {
    background-image: url("./assets/img/cork.jpg");
    border: 10px solid brown;
    width: 70%;
    min-width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .note-form {
      width: 400px;
      background-color: lightgreen;
      border: 3px solid darkblue;
      padding: 20px 30px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s;

      .note-title {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
      }

      .create-btn {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        background-color: green;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .create-btn:hover {
        background-color: darkgreen;
      }

      .create-btn:active {
        background-color: green;
      }
    }

    .note-form:hover {
      border: 3px solid black;
      box-shadow: 0 0 10px;
    }

    .note-card {
      width: 400px;
      background-color: lightyellow;
      border: 3px solid #000022;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s;

      .title {
        width: 90%;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
      }

      [type="checkbox"] {
        transform: scale(2) translateX(-2px);
        cursor: pointer;
      }

      .trash{
        max-width: 1.4rem;
        height: auto;
        display: inline-block;
        margin: 0 .5rem;
        cursor: pointer;
      }
    }

    .note-card:hover {
      border: 3px solid black;
      box-shadow: 0 0 10px;
    }

    .note-card:has(input:checked) {
      border: 3px solid lightgray;
      background-color: lightgray;

      .title {
        font-weight: 100;
      }
    }
  }
}